<ul>
  <li class="sidenav">
    <div class="categorie">Channels</div>
    <button mat-icon-button color="primary">
      <mat-icon>add_circle</mat-icon>
    </button>
  </li>

  <ng-container>
    <mat-selection-list [multiple]="false">
      <mat-list-option
        *ngFor="let channel of channels"
        [routerLink]="['/room/' + channel.id]"
      >
        <span class="channel-name">
          <mat-icon>tag</mat-icon>{{ channel.name }}</span
        >
      </mat-list-option>
    </mat-selection-list>
    <!-- <div *ngFor="let channel of channels" class="w-100">
      <li>
        <div
          class="w-100 center-horizontal link"
          [routerLink]="['/room/' + channel.id]"
        >
          <mat-icon>tag</mat-icon>{{ channel.name }}
        </div>
      </li>
    </div> -->
  </ng-container>
</ul>
